*swo
*swn
*swp
*save*
*pyc
*.log
*pys
*.o
*.e
dist
logs/
pymp*
./benchmark/dataset/data/*
.DS_Store
*.egg-info
*logging
open_images
speech  
amazon_review 
charades 
europarl
go  
inaturalist  
libriTTS  
open_images_detection  
reddit  
taobao  
taxi  
waymo  
femnist  
blog  
stackoverflow  
common_voice  
puffer  
landmark  
coqa
docker/shakespeare*
docker/openimage*
docker/reddit*
docker/google_speech*
docker/google-speech*
shakespeare*logging*
openimage*logging*
reddit*logging*
google_speech*logging*
google-speech*logging*
nvidia_monitor_running_temp*
client_mapping